$ds-font-body: 'Noto Sans', Arial, Sans-serif
$ds-font-heading: 'Noto Serif', Times, Serif

//globaalit mitat
$ds-size-gridunit: 0.25rem
$ds-size-font-base: 1.0rem

//breakpointit
$ds-breakpoint-xs: 480px
$ds-breakpoint-s: 600px
$ds-breakpoint-m: 800px
$ds-breakpoint-l: 1280px
$ds-breakpoint-xl: 1600px

//värivakiot
$ds-color-palette-white: #ffffff
$ds-color-palette-black: #000000

//deprikoitu
$ds-color-palette-neutral-20: #323232
$ds-color-palette-neutral-80: #dcdcdc
$ds-color-palette-blue-400: #196c9e
$ds-color-palette-blue-500: #1f8acc
$ds-color-palette-blue-600: #36a1e3
$ds-color-palette-red-400: #521d0a
$ds-color-palette-red-500: #802e11
$ds-color-palette-red-600: #bd451a

//neutraalit
$ds-color-palette-neutral-96: #E6E7F1
$ds-color-palette-neutral-88: #CDCEE2
$ds-color-palette-neutral-83: #B4B6D4
$ds-color-palette-neutral-66: #8F91A8
$ds-color-palette-neutral-50: #6D6E80
$ds-color-palette-neutral-33: #484954
$ds-color-palette-neutral-16: #232329
//tumma vihreä
$ds-color-palette-teal-700: #4E8686
$ds-color-palette-teal-600: #3C6767
$ds-color-palette-teal-500: #2B4A4A
$ds-color-palette-teal-400: #213838
$ds-color-palette-teal-300: #13221D
//kirkas vihreä
$ds-color-palette-green-700: #9BEF38
$ds-color-palette-green-600: #91E035
$ds-color-palette-green-500: #87D131
$ds-color-palette-green-400: #7CC02D
$ds-color-palette-green-300: #71B029
//keltainen
$ds-color-palette-yellow-700: #FFF099
$ds-color-palette-yellow-600: #FFE557
$ds-color-palette-yellow-500: #FFDC19
$ds-color-palette-yellow-400: #F2CD0D
$ds-color-palette-yellow-300: #E6C200

//väri-tokenit
$ds-color-bg-primary: $ds-color-palette-white
$ds-color-bg-button: $ds-color-palette-green-500
$ds-color-bg-button-hover: $ds-color-palette-green-600
$ds-color-bg-button-active: $ds-color-palette-green-400
$ds-color-bg-menu: $ds-color-palette-teal-500
$ds-color-bg-menu-active: $ds-color-palette-teal-700
$ds-color-bg-menu-hover: $ds-color-palette-teal-600
$ds-color-bg-input: $ds-color-palette-neutral-33

$ds-color-text-heading: $ds-color-palette-neutral-88
$ds-color-text-body: $ds-color-palette-white
$ds-color-text-button: $ds-color-palette-neutral-33
$ds-color-text-menu: $ds-color-palette-white
$ds-color-text-menu-active: $ds-color-palette-white
$ds-color-text-menu-hover: $ds-color-palette-white

$ds-color-text-link: $ds-color-palette-yellow-500
$ds-color-text-link-hover: $ds-color-palette-yellow-600
$ds-color-text-link-active: $ds-color-palette-yellow-400

$ds-color-text-input: $ds-color-palette-white

//font size
$ds-size-font-01: $ds-size-font-base * 0.35
$ds-size-font-02: $ds-size-font-base * 0.39
$ds-size-font-03: $ds-size-font-base * 0.44
$ds-size-font-04: $ds-size-font-base * 0.50
$ds-size-font-05: $ds-size-font-base * 0.56
$ds-size-font-06: $ds-size-font-base * 0.63
$ds-size-font-07: $ds-size-font-base * 0.70
$ds-size-font-08: $ds-size-font-base * 0.79
$ds-size-font-09: $ds-size-font-base * 0.89
$ds-size-font-10: $ds-size-font-base
$ds-size-font-11: $ds-size-font-base * 1.13
$ds-size-font-12: $ds-size-font-base * 1.27
$ds-size-font-13: $ds-size-font-base * 1.42
$ds-size-font-14: $ds-size-font-base * 1.60
$ds-size-font-15: $ds-size-font-base * 1.80
$ds-size-font-16: $ds-size-font-base * 2.00
$ds-size-font-17: $ds-size-font-base * 2.25
$ds-size-font-18: $ds-size-font-base * 2.53
$ds-size-font-19: $ds-size-font-base * 2.85
$ds-size-font-20: $ds-size-font-base * 3.20
$ds-size-font-21: $ds-size-font-base * 3.60
$ds-size-font-22: $ds-size-font-base * 4.00
$ds-size-font-23: $ds-size-font-base * 4.50
$ds-size-font-24: $ds-size-font-base * 5.00
$ds-size-font-25: $ds-size-font-base * 5.70
$ds-size-font-26: $ds-size-font-base * 6.41
$ds-size-font-27: $ds-size-font-base * 7.21
$ds-size-font-28: $ds-size-font-base * 8.00
$ds-size-font-29: $ds-size-font-base * 9.00
$ds-size-font-30: $ds-size-font-base * 10.13





$ds-size-font-xs: $ds-size-font-base * 0.5
$ds-size-font-s: $ds-size-font-base * 0.75
$ds-size-font-m: $ds-size-font-base
$ds-size-font-l: $ds-size-font-base * 1.5
$ds-size-font-xl: $ds-size-font-base * 2
$ds-size-font-xxl: $ds-size-font-base * 3
$ds-size-font-xxxl: $ds-size-font-base * 5

//line height
$ds-size-lineheight-01: $ds-size-gridunit * 2
$ds-size-lineheight-02: $ds-size-gridunit * 2
$ds-size-lineheight-03: $ds-size-gridunit * 3
$ds-size-lineheight-04: $ds-size-gridunit * 3
$ds-size-lineheight-05: $ds-size-gridunit * 3
$ds-size-lineheight-06: $ds-size-gridunit * 4
$ds-size-lineheight-07: $ds-size-gridunit * 4
$ds-size-lineheight-08: $ds-size-gridunit * 5
$ds-size-lineheight-09: $ds-size-gridunit * 5
$ds-size-lineheight-10: $ds-size-gridunit * 6
$ds-size-lineheight-11: $ds-size-gridunit * 7
$ds-size-lineheight-12: $ds-size-gridunit * 8
$ds-size-lineheight-13: $ds-size-gridunit * 9
$ds-size-lineheight-14: $ds-size-gridunit * 10
$ds-size-lineheight-15: $ds-size-gridunit * 11
$ds-size-lineheight-16: $ds-size-gridunit * 12
$ds-size-lineheight-17: $ds-size-gridunit * 14
$ds-size-lineheight-18: $ds-size-gridunit * 15
$ds-size-lineheight-19: $ds-size-gridunit * 17
$ds-size-lineheight-20: $ds-size-gridunit * 19
$ds-size-lineheight-21: $ds-size-gridunit * 22
$ds-size-lineheight-22: $ds-size-gridunit * 24
$ds-size-lineheight-23: $ds-size-gridunit * 27
$ds-size-lineheight-24: $ds-size-gridunit * 30
$ds-size-lineheight-25: $ds-size-gridunit * 34
$ds-size-lineheight-26: $ds-size-gridunit * 38
$ds-size-lineheight-27: $ds-size-gridunit * 43
$ds-size-lineheight-28: $ds-size-gridunit * 48
$ds-size-lineheight-29: $ds-size-gridunit * 54
$ds-size-lineheight-30: $ds-size-gridunit * 61



$ds-size-lineheight-xs: $ds-size-gridunit * 3
$ds-size-lineheight-s: $ds-size-gridunit * 4
$ds-size-lineheight-m: $ds-size-gridunit * 6
$ds-size-lineheight-l: $ds-size-gridunit * 8
$ds-size-lineheight-xl: $ds-size-gridunit * 10
$ds-size-lineheight-xxl: $ds-size-gridunit * 16
$ds-size-lineheight-xxxl: $ds-size-gridunit * 20

$ds-size-button-height: $ds-size-gridunit * 10
$ds-size-textinput-height: $ds-size-gridunit * 10

//spaces
$ds-space-xs: $ds-size-gridunit
$ds-space-s: $ds-size-gridunit * 2
$ds-space-m: $ds-size-gridunit * 3
$ds-space-l: $ds-size-gridunit * 5
$ds-space-xl: $ds-size-gridunit * 8
$ds-space-xxl: $ds-size-gridunit * 12
$ds-space-xxxl: $ds-size-gridunit * 20
